html{
	margin: 0;
	padding: 0;
	height: 3062px;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url("../images/homepage-3.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

header {
	position: relative;
	float: right;
	color: #deefec;
}

span a{
	letter-spacing: 0.6px;
	cursor: pointer;
	text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:active {
    color: #fff;
}

#login {
	display: inline;
	margin-right: 226px;   /*226px*/
	margin-left: 16px;
}

#login button{
	border: 0.1px solid #a9b9dc;
	background: transparent;
	font-size: 12.5px;
	padding: 5.8px 15px 5.5px 15px;
	letter-spacing: 0.8px;
	color: #deefec;
	cursor: pointer;
	margin-right: 2px;
}

#block_1 {
	position: relative;
	left: 22%;
	top: 130px;
	width: 30%;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 36px;
}

#logo {
	position: absolute;
	top: 2%;
	left: 20%;
}

#logo img{
	width: 250px;
}

nav {
	width: 100%;
	position: sticky;
	background-color: black;
	position: relative;
	top: 350px;
}

#nav_logo{
	width: 25%;
	display: inline-block;
	text-align: right;
	background-color: #100074;
}

#nav_logo img {
	position: relative;
	top: 6px;
	right: 6px;
}

#nav_menu{
	width: 75%;
	height: 100%;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	position: absolute;
	/*margin-top: 10px;*/
	background-color: #024dae;
}

#nav_menu div{
	display: inline-block;
	color: #fff;
	height: contain;
	text-align: center;
	margin: 8px 4px 4px 4px;
	padding: 8px 12px 8px 12px;
	position: relative;
}
#nav_menu div>a{
	text-decoration: none;
}

#nav_menu img{
	margin-bottom: 5px;
	width: 24px;
	height: 24px;
}

#nav_menu p{
	margin: 0;
	font-size: 12px;
}

#nav_menu button{
	position: relative;
	text-align: center;
	border: 0;
	padding: 4px 14px 4px 14px;
	background-color: #ffdf00;
	color: #00295f;
	font-weight: 600;
	cursor: pointer;
}